# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
.venv/
.env
.ipynb_checkpoints/

# VSCode
.vscode/

# Data & models
data/processed/
models/*
!models/.gitkeep
reports/figures/*
!reports/figures/.gitkeep

# OS
.DS_Store
Thumbs.db
